@font-face {
    font-family: 'tahuregular';
    src: url('../fonts/tahu-webfont.eot');
    src: url('../fonts/tahu-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/tahu-webfont.woff2') format('woff2'),
         url('../fonts/tahu-webfont.woff') format('woff'),
         url('../fonts/tahu-webfont.ttf') format('truetype'),
         url('../fonts/tahu-webfont.svg#tahuregular') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'lemonmilkbold';
    src: url('../fonts/lemonmilkbold-webfont.eot');
    src: url('../fonts/lemonmilkbold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/lemonmilkbold-webfont.woff2') format('woff2'),
         url('../fonts/lemonmilkbold-webfont.woff') format('woff'),
         url('../fonts/lemonmilkbold-webfont.ttf') format('truetype'),
         url('../fonts/lemonmilkbold-webfont.svg#lemonmilkbold') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'lemonmilkregular';
    src: url('../fonts/lemonmilk-webfont.eot');
    src: url('../fonts/lemonmilk-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/lemonmilk-webfont.woff2') format('woff2'),
         url('../fonts/lemonmilk-webfont.woff') format('woff'),
         url('../fonts/lemonmilk-webfont.ttf') format('truetype'),
         url('../fonts/lemonmilk-webfont.svg#lemonmilkregular') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'futura_md_btmedium';
    src: url('../fonts/futuramediumbt-webfont.eot');
    src: url('../fonts/futuramediumbt-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/futuramediumbt-webfont.woff2') format('woff2'),
         url('../fonts/futuramediumbt-webfont.woff') format('woff'),
         url('../fonts/futuramediumbt-webfont.ttf') format('truetype'),
         url('../fonts/futuramediumbt-webfont.svg#futura_md_btmedium') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'fools_errandregular';
    src: url('../fonts/fools_errand-webfont.eot');
    src: url('../fonts/fools_errand-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/fools_errand-webfont.woff2') format('woff2'),
         url('../fonts/fools_errand-webfont.woff') format('woff'),
         url('../fonts/fools_errand-webfont.ttf') format('truetype'),
         url('../fonts/fools_errand-webfont.svg#fools_errandregular') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'blackswordregular';
    src: url('../fonts/blacksword-webfont.eot');
    src: url('../fonts/blacksword-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/blacksword-webfont.woff2') format('woff2'),
         url('../fonts/blacksword-webfont.woff') format('woff'),
         url('../fonts/blacksword-webfont.ttf') format('truetype'),
         url('../fonts/blacksword-webfont.svg#blackswordregular') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'abelregular';
    src: url('../fonts/abel-regular-webfont.eot');
    src: url('../fonts/abel-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/abel-regular-webfont.woff2') format('woff2'),
         url('../fonts/abel-regular-webfont.woff') format('woff'),
         url('../fonts/abel-regular-webfont.ttf') format('truetype'),
         url('../fonts/abel-regular-webfont.svg#abelregular') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'futura_md_btbold';
    src: url('../fonts/04042068-webfont.eot');
    src: url('../fonts/04042068-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/04042068-webfont.woff2') format('woff2'),
         url('../fonts/04042068-webfont.woff') format('woff'),
         url('../fonts/04042068-webfont.ttf') format('truetype'),
         url('../fonts/04042068-webfont.svg#futura_md_btbold') format('svg');
    font-weight: normal;
    font-style: normal;
}


body{font-family: 'futura_md_btmedium'; color:#565555;}
/*banner*/
.toggle_menu {
	position: relative;
	z-index: 99;
	height: 27px;
	display: block;
}
.toggle_menu span {
	display: block;
	width: 35px;
	height: 3px;
	background-color: #fff;
	position: relative;
	top: 12px;
	left: 0;
	-webkit-transition: all 0.5s ease 0s;
	-moz-transition: all 0.5s ease 0s;
	-ms-transition: all 0.5s ease 0s;
	-o-transition: all 0.5s ease 0s;
	transition: all 0.5s ease 0s;
}
.toggle_menu span::after, .toggle_menu span::before {
	position: absolute;
	content: "";
	width: 35px;
	height: 3px;
	background-color: #fff;
	left: 0;
	top: -8px;
	-webkit-transition: all 0.5s ease 0s;
	-moz-transition: all 0.5s ease 0s;
	-ms-transition: all 0.5s ease 0s;
	-o-transition: all 0.5s ease 0s;
	transition: all 0.5s ease 0s;
}
.toggle_menu span::after {
	bottom: -8px;
	top: auto;
}

/*banner*/
.top_banner {
	max-width: 1366px;
	margin: auto;
	overflow: hidden;
}

.banner{ position:relative; background-image:url(../images/banner.jpg); background-repeat:no-repeat; background-position:top center; min-height:725px;}
.banner::before {
	position: absolute;
	left: 0px;
	top: 0px;
	content: ''; width: 100%; height: 100%; background-color: rgba(0,0,0,.50);}

.banner::after {
	position: absolute;
	left: -105px;
	top: -58px;
	background-color: rgba(80,11,78,.50);
	content: '';
	width: 670px;
	height: 965px;
	transform: rotate(156deg); -moz-transform: rotate(156deg); -ms-transform: rotate(156deg); -o-transform: rotate(156deg); -webkit-transform: rotate(156deg);
}
.banner_content { max-width: 870px; margin: auto; position: relative; z-index: 1; padding:312px 0 0 0;}
.search_filter .filter_box{width:24%;}
.search_filter .filter_category{width:36.33%;}


.category_bg{background-image:url(../images/categorybg.png); background-repeat:no-repeat; padding-top:150px; min-height:1664px; background-color:#cadbe5;}
.get_touch_bg{position:relative; padding-bottom:46px;}
.get_touch_bg:before{position: absolute;left: 0px;top: 0px; z-index:0; content: ''; width: 100%; height: 100%; background-image:url(../images/get-touch-bg.png); background-repeat:no-repeat; }
.get_touch_bg:after{position:absolute; top:0; z-index:-1; left:0; right:0; bottom:0; content:""; height:100%; width:100%; background: #cadbe5;
background: -moz-linear-gradient(top, #cadbe5 0%, #f7f9fb 100%, #f2f5f9 100%);
background: -webkit-linear-gradient(top, #cadbe5 0%,#f7f9fb 100%,#f2f5f9 100%);
background: linear-gradient(to bottom, #cadbe5 0%,#f7f9fb 100%,#f2f5f9 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cadbe5', endColorstr='#f2f5f9',GradientType=0 );}
.trending{position:relative; z-index:1;}
.get_in_touch{position:relative; background-image:url(../images/violet-bar.png); background-repeat:no-repeat; background-position:center 10px;}
.about_us_section{position:relative;}
.about_us_section:after{position:absolute; left:0px; top:-150px; content:''; width:414px; height:477px; background-image:url(../images/violet-bubble.png); background-repeat:no-repeat; z-index:0;}
.about_us_section:before{position:absolute; right:0px; bottom:-120px ;content:''; width:386px; height:530px; background-image:url(../images/blue-bubble.png); background-repeat:no-repeat; z-index:1;}

.get_touch_bg .get_in_touch, .get_touch_bg > .container{position:relative; z-index:1;}

.welcome_content{ max-width:505px; text-align:right; padding-bottom: 50px;}
.welcome_content h1{ color:#00aeac; font-size:49px; margin:0;  font-family: 'lemonmilkbold'; }
.welcome_content p{ font-size:21px; color:#fff;}


header{ position:absolute; left:0; right:0; top:0; margin:auto; z-index:9; padding:64px 0 0 0;}
.right_menu ul{ padding:0; margin:0;  text-align:right; }
.right_menu ul li{ display:inline-block; vertical-align:middle; font-size:17px; color:#fff;  margin-left:28px; border-radius:100%;} 
.right_menu ul li .user_profile{ width:54px; height:54px; border-radius:100%; line-height:54px; overflow:hidden; border:1px solid #fff;}
.right_menu ul li:first-child{margin-left:0;}
.user_profile img{ max-width:100%;}
.right_menu ul li .call img{vertical-align: top; margin-right: 6px;}

.search_filter ul{ margin:0; padding:0; font-size:0;}
.search_filter ul li{ font-size:14px; display:inline-block; vertical-align:top; position:relative;}
.get_in_touch{padding:0 0 80px;}
.get_in_touch .heading{ margin-bottom:17px;}
.categories_section .heading{ padding-left:20px;}
.categories{ padding:0; margin:20px 0 20px 0; font-size:0; text-align: center;}
.categories li{ font-size:14px; display:inline-block; vertical-align:top; position:relative;}
.categories li figure img{max-width:100%;}
.categories .side_category{width: 24%;}
.categories .side_category .yatch_side{ position:absolute; left:0;  top:0; height:100%; width:100%; background-color:rgba(80,11,78,.50);  font-family: 'futura_md_btmedium'; }
.categories .side_category .yatch_side span{ color:#fff; font-size:42px; position: absolute; bottom: 15px; left:0; right:0; text-align:center;}
.categories .center_category{ width:48%;}
select.form-control{ color:#343434; font-size:21px; font-family: 'fools_errandregular'; height:56px; border-radius:5px; cursor:pointer;}
select{-moz-appearance: none; -webkit-appearance: none;}
.search_filter ul li .form-control:focus {
	border-color: #fff;


	box-shadow: none;
}
.search_filter ul li{ position:relative; padding-right: 2px;}
.search_filter ul li .country{ position:relative;}
.search_filter ul li .country::after{ background-image:url(../images/location1.png); background-position: left center; background-repeat:no-repeat; position:absolute; left:13px; height:18px; width:13px; content:''; top: 19px; }
.search_filter ul li.filter_box::before , .search_filter ul li.filter_category::before{ background-image:url(../images/caret.png); background-position: right center; background-repeat:no-repeat; position:absolute; right:29px; height:7px; width:15px; content:''; top:25px; z-index:1; }
.search_filter ul li .country .form-control{
	padding-left: 40px;
}
.btn-default {
	min-width: 106px;
	
	padding: 16px 10px; border-radius:5px;
	font-size: 17px;  font-family: 'fools_errandregular';
}



.contact_form{ position:relative;}
.touch_form{ max-width:692px; background-color:#fff; padding:41px 48px;  position:absolute; left:0; top:52px;  -webkit-box-shadow: 0 0 4px 1px rgba(0,0,0,.30);
box-shadow: 0 0 4px 1px rgba(0,0,0,.30); -moz-box-shadow: 0 0 4px 1px rgba(0,0,0,.30); -ms-box-shadow: 0 0 4px 1px rgba(0,0,0,.30); -o-box-shadow: 0 0 4px 1px rgba(0,0,0,.30); width:100%;}
.touch_form .form-control{ color:#707070; background-color:#f3f3f3; height:60px; box-shadow:none; font-size:28px; border:none; padding-left:19px; border-radius:3px;   font-family: 'abelregular';}
.touch_form textarea.form-control{ resize:none; height:160px;} 
.touch_form .form-group{ margin-bottom:23px;}
.send_btn{ text-align:center;}
.btn-primary {
	box-shadow: none; font-family: 'abelregular';
	border: none;
	color: #fff;
	display: inline-block;
	min-width: 230px;
	text-align: center;
	padding: 10px 20px;
	border-radius: 5px;
	font-size: 28px;
}
.contact_us{ background-color:#00aeac; padding:100px 35px 70px 156px; max-width:543px; float:right;  font-family: 'futura_md_btmedium';}
.contact_us h3{ color:#fff; font-size:28px; margin:0; text-transform:capitalize; padding:0 0 40px 45px;}
.contact_us ul{ padding:0; margin:0; }
.contact_us ul li{ list-style:none; display:block; font-size:21px; color:#fff; padding-left:45px; position:relative; margin-bottom:20px;}
.contact_us ul li span{ display:block;}
.contact_us ul li a{ text-decoration:none;  font-size:21px; color:#fff;}
.contact_us ul.address li img{ position: absolute; left:0; top:9px;}
.social_icon{ padding:0; margin:0;}
.contact_us .social_icon{ padding:45px 0 0 0px;}
.contact_us .social_icon li{ display:inline-block; vertical-align:top; margin:0 0 0 15px; }

.about_hm{ max-width:934px; float:right; background-color:#fff; font-size:21px; color:#565555; position:relative; padding-left:408px; margin-top:72px; padding-top: 146px; position:relative; z-index:1; padding-right:15px;}
.about_hm figure{ position:absolute; left:-189px; top:-74px;}
.about_hm figure img{max-width:100%;}
.about_hm .title_box {
	background-color: #00afb2;
	padding: 10px 20px;
	position: absolute;
	left: 0;
	right: 0;
	top: 54px;
	max-width: 442px;
	margin: auto;
}
.about_hm .title_box h3{ color:#fff; font-size:28px; margin:0; text-transform:uppercase; text-align:center;    font-family: 'lemonmilkregular';}
.about_hm p{ margin-bottom:37px; font-family: 'futura_md_btmedium';}

.bluebg{background-color:#e0f2f2; position:relative; padding:35px 0 0;}
.trending-carousel{padding:50px 0;}
.trending_box{-webkit-box-shadow:0 0 5px 1px rgba(0,0,0,.2); box-shadow:0 0 5px 1px rgba(0,0,0,.2); margin:15px 10px; -webkit-transition:all 0.5s ease 0s; -moz-transition:all 0.5s ease 0s; -ms-transition:all 0.5s ease 0s; -o-transition:all 0.5s ease 0s; transition:all 0.5s ease 0s;}
.trending_box:hover{transform:scale(1.05); -moz-transform:scale(1.05); -ms-transform:scale(1.05); -o-transform:scale(1.05); -webkit-transform:scale(1.05);}
.trending_box figure img{max-width:100%; width:100%;}
.trending_content{padding:10px 18px; background-color:#fff;}
.trending_content h4{font-size:20px; margin:0 0 10px; color:#000;}
.trending_content p{font-size:14pxpx; margin:0 0 10px; color:#4a4747;}
.trending_content span{font-size:16px; color:#000; margin:0; display:block;}


.testimonial_slider{position:relative;}
.testimonial_slider:after{position:absolute; bottom:-48px; left:0; content:""; background-image:url(../images/testimonial-bg.png); background-repeat:no-repeat; height:477px; width:202px;}
.heading h2{display:inline-block; margin:0; position:relative; font-size:34px; color:#302e2e; z-index:1;}
.heading h2::after {
	position: absolute;
	bottom: auto;
	right: -4px;
	content: "";
	height: 6px;
	width: 75%;
	background-color: #fcca46;
	z-index: -1;
	top: 50%;
	margin-top: -4px;
}
.heading h2 span{display:inline-block; font-size:70px; text-transform:capitalize;vertical-align: middle;}
.trending_slider{padding:40px 0 0 0;}
.trending_slider .heading h2::after{width:92%;}

.testimonial-carousel{padding:50px 0 0;}
.testimonial_box{text-align:center; position:relative; display:inline-block; margin:auto; padding-bottom:90px;}
.testimonial_box figure{-webkit-box-shadow:0 0 5px 1px rgba(0,0,0,.3); box-shadow:0 0 5px 1px rgba(0,0,0,.3); overflow:hidden;}
.testimonial_box figure img{ max-width:100%; -webkit-transition:all 0.5s ease 0s; -moz-transition:all 0.5s ease 0s; -ms-transition:all 0.5s ease 0s; -o-transition:all 0.5s ease 0s; transition:all 0.5s ease 0s;}
.testimonial_box figure:hover img{transform:scale(1.05); -moz-transform:scale(1.05); -ms-transform:scale(1.05); -o-transform:scale(1.05); -webkit-transform:scale(1.05);}
.testimonial_content{position:absolute; bottom:10px; left:15px; right:15px; background-color:#fff; padding:15px; -webkit-box-shadow:0 0 5px 1px rgba(0,0,0,.2); box-shadow:0 0 5px 1px rgba(0,0,0,.2);}
.testimonial_content p{font-size:16px; color:#707070;}

.newsletter{background-image:url(../images/newslatter-bg.png); background-repeat:no-repeat; min-height:493px; background-size:cover; text-align:center; padding-top:180px;}
.newsletter h3{font-size:42px; margin:0 0 20px; color:#fff; font-family: 'blackswordregular';}
.newsletter p{font-size:28px; margin:0 0 10px; color:#fff; font-family: 'abelregular';}
.newsletter .form-group{width:530px; margin:0 auto; position:relative; padding-right:130px;}
.newsletter .form-group .btn.btn-primary{position:absolute; top:0; right:0; font-size:25px; font-family: 'abelregular'; text-transform:capitalize; padding:9px 20px; height:55px; min-width:125px;}
.newsletter .form-group .form-control{font-size:25px; height:55px; box-shadow:none; color:#706b6b;}

footer{background-color:#302e2f; color:#fff; padding:85px 0 25px; position:relative;}
.footer_logo{position:absolute; top:-30px; left:50%; margin-left:-139px;}
footer h3{margin:0 0 40px; font-size:25px; color:#fff; position:relative; font-family: 'tahuregular';}
footer h3:after{position:absolute; bottom:-8px; left:0; content:""; height:3px; width:40px; background-color:#3e9493;}
.footer_link{list-style:none; padding:0; margin:0; font-size:0;}
.footer_link li{display:block; margin:0; padding:0 0 15px; font-size:16px; position:relative;}
.footer_link li a{text-decoration:none; color:#fff; -webkit-transition:all 0.5s ease 0s; -moz-transition:all 0.5s ease 0s; -ms-transition:all 0.5s ease 0s; -o-transition:all 0.5s ease 0s; transition:all 0.5s ease 0s;}
.footer_link li a:hover{color:#3e9493;}
.contact .footer_link li{padding-left:30px;}
.contact .footer_link li img{position:absolute; top:4px; left:0;}
.about_us{padding:0 50px;}
.about_us p{font-size:14px;}

.privacy_link{list-style:none; padding:0; margin:0; font-size:0;}
.privacy_link li{display:inline-block; margin:0; padding:0 15px 0 0; font-size:14px;}
.privacy_link li a{text-decoration:none; color:#fff; -webkit-transition:all 0.5s ease 0s; -moz-transition:all 0.5s ease 0s; -ms-transition:all 0.5s ease 0s; -o-transition:all 0.5s ease 0s; transition:all 0.5s ease 0s;}
.privacy_link li a:hover{color:#3e9493;}
.social_icon{list-style:none; padding:0; margin:0; font-size:0;}
.social_icon li{display:inline-block; margin:0; padding:0 20px; font-size:14px;}
.bottom_link{padding-top:60px;}

/*menu css*/
body.nav_open{overflow:hidden;}
.overlay{position:fixed; top:0; left:0; right:0; bottom:0; height:100%; width:100%; background-color:rgba(0,0,0,0.8); opacity:0; visibility:hidden; z-index:15; -webkit-transition:all 0.5s ease 0s; -moz-transition:all 0.5s ease 0s; -ms-transition:all 0.5s ease 0s; -o-transition:all 0.5s ease 0s; transition:all 0.5s ease 0s;}
.overlay.active{opacity:1; visibility:visible; -webkit-transition:all 0.5s ease 0s; -moz-transition:all 0.5s ease 0s; -ms-transition:all 0.5s ease 0s; -o-transition:all 0.5s ease 0s; transition:all 0.5s ease 0s;}
.nav_menu{position:fixed; top:0; right:-100%; bottom:0; height:100%; width:300px; background-color:#66b1f2; padding:20px 25px 0;  z-index:20; -webkit-transition:all 0.5s ease 0s; -moz-transition:all 0.5s ease 0s; -ms-transition:all 0.5s ease 0s; -o-transition:all 0.5s ease 0s; transition:all 0.5s ease 0s;}
.nav_menu.open{right:0;}
.nav_menu ul{list-style:none; margin:0; padding:0; font-size:0;}
.nav_menu ul li{display:block; margin:0; padding:12px 0; font-size:18px;}
.nav_menu ul li a{display:block; color:#fff; text-decoration:none; -webkit-transition:all 0.5s ease 0s; -moz-transition:all 0.5s ease 0s; -ms-transition:all 0.5s ease 0s; -o-transition:all 0.5s ease 0s; transition:all 0.5s ease 0s; text-transform: capitalize;}
.nav_menu ul li a:hover{color:#373435;}
.toggle_menu{position:relative; z-index:99; height:27px; display:block;}
.toggle_menu span{display:block; width:25px; height:3px; background-color:#fff; position:relative; top:12px; left:0; -webkit-transition:all 0.5s ease 0s; -moz-transition:all 0.5s ease 0s; -ms-transition:all 0.5s ease 0s; -o-transition:all 0.5s ease 0s; transition:all 0.5s ease 0s;}
.toggle_menu span:after, .toggle_menu span:before{position:absolute; content:""; width:25px; height:3px; background-color:#fff; left:0; top:-8px; -webkit-transition:all 0.5s ease 0s; -moz-transition:all 0.5s ease 0s; -ms-transition:all 0.5s ease 0s; -o-transition:all 0.5s ease 0s; transition:all 0.5s ease 0s;}
.toggle_menu span:after{bottom:-8px; top:auto;}
.nav_open .toggle_menu span{background-color:transparent;}
.nav_open .toggle_menu span:after, .nav_open .toggle_menu span:before{background-color:#fff;}
.nav_open .toggle_menu span:after{transform:rotate(45deg); -moz-transform:rotate(45deg); -ms-transform:rotate(45deg); -o-transform:rotate(45deg); -webkit-transform:rotate(45deg); bottom:0;}
.nav_open .toggle_menu span:before{transform:rotate(-45deg); -moz-transform:rotate(-45deg); -ms-transform:rotate(-45deg); -o-transform:rotate(-45deg); -webkit-transform:rotate(-45deg); top:0;}
/*menu css*/

.signup .modal-dialog{width:800px; margin:50px auto 30px;}
.modal-content{border-radius:0;}
button.close{font-family:'futura_md_btmedium'; position:absolute; top:-23px; right:0px; text-shadow:none; color:#fff; opacity:1; font-size:18px; font-weight:normal; text-decoration:underline;}
button.close span{font-weight:normal;}
button.close:hover{opacity:1; color:#fff; text-decoration:underline;}
.nav-tabs{border:none;}
.nav-tabs > li{margin-bottom:0; width:50%; font-size:25px; text-align:center;}
.nav-tabs > li a{border-radius:0; border:transparent; margin:0; background-color:#f3f3f3; color:#565555;}
.nav-tabs > li a:hover{background-color:#119a96; color:#fff;}
.nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus{color:#fff; background-color:#119a96; border:transparent;}
.modal-header{padding: 0;border-bottom: none;}
.modal-body label{font-weight:normal; font-size:16px; color:#565555;}
.modal-body .form-control{box-shadow:none; border:1px solid #bebebe; background-color:#f3f3f3; border-radius:0px; height:45px; font-size:20px; padding:10px 12px;}
.modal-body .form-group{margin-bottom:30px;}
.modal-footer{border:none; padding:0;}
.modal-footer .btn.btn-primary{width:100%; font-size:25px; border-radius:0;}
.modal-footer p{margin:20px 0 10px; font-size:16px; text-align:center; color:#555555;}
.modal-footer p a{color:#165fb1; text-decoration:underline;}

/*contact us*/
.banner.contact_banner{min-height:700px;}
.innerbg{padding:65px 0 80px; z-index:1; overflow:hidden; position:relative;
background: #cbdbe5; background: -moz-linear-gradient(top, #cbdbe5 0%, #fefefe 100%);
background: -webkit-linear-gradient(top, #cbdbe5 0%,#fefefe 100%); background: linear-gradient(to bottom, #cbdbe5 0%,#fefefe 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cbdbe5', endColorstr='#fefefe',GradientType=0 );}
.innerbg:after{position:absolute; left:-170px; top:150px; content:""; background-image:url(../images/violet-bar.png); background-repeat:no-repeat; width:342px; height:268px; opacity:0.5; z-index:-1;}
.innerbg:before{position:absolute; right:-70px; top:-290px; content:""; background-image:url(../images/blue-bubble.png); background-repeat:no-repeat; width:386px; height:530px; opacity:0.5; z-index:-1;}
.contact_text{position:absolute; bottom:40px; z-index:9; left:50%; margin-left:-580px;}
.contact_text h2{font-size:76px; color:#fff; margin:0;}
.contact_text span{display:block; font-size:26px; color:#fff;}

.contact_page h3{font-size:28px; color:#000; margin:0 0 60px; font-weight:bold; position:relative;}
.contact_page h3:after{position:absolute; left:0; bottom:-10px; content:""; height:3px; width:70px; background-color:#000;}
.leave_info{float:left; width:70%; padding:0 75px 0 0;}
.leave_info p{font-size:16px; color:#707070; margin:0 0 50px;}
.location_info{float:right; width:30%;}
.leave_info .form-control{height:56px; background-color:#fff; color:#707070; border:none; border-radius:0; box-shadow:none; font-size:16px;}
.leave_info .form-control::-moz-placeholder{color:#707070; opacity:1;}
.leave_info .form-control:-ms-input-placeholder{color:#707070; opacity:1;}
.leave_info .form-control::-webkit-input-placeholder{color:#707070; opacity:1;}
.leave_info textarea.form-control{height:135px; resize:none;}
.leave_info .btn.btn-primary{margin-top:25px;}

.location_info p{font-size:16px; color:#707070;}
.location_info ul{list-style:none; font-size:0; padding:25px 0 15px; margin:0;}
.location_info ul li{display:block; margin:0; color:#707070; padding:0 0 20px 45px; position:relative; font-size:14px;}
.location_info ul li img{position:absolute; top:0; left:0;}
.location_info ul li a{text-decoration:none; color:#707070;}

/*summary-page*/
.summary_page{margin-top:-67px;}
.summary_page .innerbg{padding:0;}
.summary_left{padding-right:80px;}
.services{padding:80px 0 35px;}
.services ul{list-style:none; padding:0; margin:0; font-size:0;}
.services ul li{display:inline-block; width:33.33%; font-size:14px; text-align:center; padding:0 12px; margin:0;}
.service_box{background-color:#fff; padding:25px 15px; box-shadow:0 0 7px 1px rgba(0,0,0,.2); -webkit-box-shadow:0 0 7px 1px rgba(0,0,0,.2); -webkit-transition:all 0.5s ease 0s; -moz-transition:all 0.5s ease 0s; -ms-transition:all 0.5s ease 0s; -o-transition:all 0.5s ease 0s; transition:all 0.5s ease 0s;}
.service_box:hover{background-color:#129a96;}
.service_box figure{display:block; margin:0 auto; height:58px; width:58px; overflow:hidden;}
.service_box:hover img{margin-top:-59px;}
.service_box h3{font-size:18px; color:#363636; margin:25px 0; font-family: 'futura_md_btbold';}
.service_box p{color:#494949; font-size:16px; margin:0;}
.service_box:hover h3, .service_box:hover p{color:#fff;}

.step_process{list-style:none; padding:20px 12px; margin:22px 0 0; font-size:0; background-color:#fff; border-radius:4px; box-shadow:0 0 7px 1px rgba(0,0,0,.2); -webkit-box-shadow:0 0 7px 1px rgba(0,0,0,.2);}
.step_process li{display:inline-block; color:#a0a0a0; vertical-align:middle; font-family:arial; font-weight:bold; margin:0; padding:0 20px 0 42px; position:relative; font-size:14px;}
.step_process li figure{display:inline-block; height:20px; width:20px; overflow:hidden; position:absolute; top:0; left:0;}
.step_process li.complete, .step_process li.process{color:#000;}
.step_process li.complete figure img{margin-top:-24px;}
.step_process li.process{font-size:16px;}

.contact_detail{background-color:#fff; border-radius:4px; box-shadow:0 0 7px 1px rgba(0,0,0,.2); -webkit-box-shadow:0 0 7px 1px rgba(0,0,0,.2); padding:20px 30px 40px; margin:15px 0 0;}
.contact_detail h3{font-size:16px; font-family:arial; font-weight:bold; margin:0 0 20px; color:#000;}
.contact_detail .form-control{border-color:transparent; background-color:#f3f3f3; height:46px; font-family:arial; font-size:13px; box-shadow:none; color:#000000; padding:10px 20px;}
.contact_detail .form-control::-moz-placeholder{color:#000000; opacity:1;}
.contact_detail .form-control:-ms-input-placeholder{color:#000000; opacity:1;}
.contact_detail .form-control::-webkit-input-placeholder{color:#000000; opacity:1;}
.contact_detail .form-group{margin-bottom:20px;}
.guest_detail .row{margin:0 -5px;}
.guest_detail .col-sm-4{padding:0 5px;}
.coupon_code{max-width:480px; padding-right:90px; position:relative;}
.coupon_code .form-control{border-radius:4px 0  0 4px;}
.coupon_code .btn.btn-primary{position:absolute; top:0; right:0; min-width:auto; height:46px; font-size:14px; font-family:arial; font-weight:bold; padding:12px 26px; border-radius:0 4px 4px 0;}

.booking_detail{box-shadow:0 0 7px 1px rgba(0,0,0,.2); -webkit-box-shadow:0 0 7px 1px rgba(0,0,0,.2); margin-top:22px; background-color:#fff;}
.booking_detail_content{padding:0 20px 12px;}
.booking_detail h3{margin:0; text-align:center; padding:20px 0; font-size:16px; color:#fff; background-color:#129a96; font-family:arial; font-weight:bold;}
.booking_detail p{font-size:14px; font-family:arial; font-weight:bold; color:#000; margin:15px 0 20px;}

.booking_detail ul{list-style:none; padding:0 0 25px; margin:0; font-size:0;}
.booking_detail ul li{display:block; margin:0; padding:6px 0 6px 35px; position:relative; font-size:14px; font-family:arial; color:#4e4e4e;}
.booking_detail ul li img{position:absolute; top:6px; left:0;}
.booking_detail h4{font-size:14px; color:#4e4e4e; margin:0 0 10px; font-weight:bold; font-family:arial;}
.booking_detail .table tbody tr td{border:none; font-family:arial;}
.booking_detail .table tbody tr td img{margin-right:10px;}
.booking_detail .table tbody tr.border-top td{border-top:1px solid #707070;}
.booking_detail .table tbody tr td:last-child{text-align:right;}
.booking_detail .btn-primary{height:46px; font-size:16px; font-weight:bold; font-family:arial;}



@media (min-width:1230px) and (max-width:1550px) {
.nav_open .toggle_menu span{left:-210px;}
}
@media (min-width:992px) and (max-width:1229px) {
.nav_open .toggle_menu span{left:-170px;}
.contact_text{margin-left:-470px;}
.summary_left{padding-right:0;}
.step_process li{padding:0 20px 0 30px;}
.summary_page .col-sm-12.col-md-9{width:70%;}
.summary_page .col-sm-12.col-md-3{width:30%;}
.touch_form{max-width:542px;}
.about_hm figure{left:0;}
.about_hm figure img{max-width:470px;}
.about_hm{font-size:18px; padding-left:490px; margin-top:72px; padding-top:106px;}
.about_hm .title_box{top:25px;}
}
@media (min-width:768px) and (max-width:991px) {
.nav_open .toggle_menu span{left:-170px;}
.signup .modal-dialog{width:700px;}
.modal-body .form-control{height:42px; font-size:18px; padding:8px 12px;}
.modal-body .form-group{margin-bottom:20px;}
.about_us{padding:0 0px;}
.contact_text{margin-left:-360px;}
.social_icon li{padding:0 15px;}
.footer_link li{font-size:14px;}
.services ul li{padding:0 8px;}
.service_box p br{display:none;}
.service_box h3{font-size:14px;	margin:15px 0;}
.summary_left{padding-right:0;}
.banner_content{max-width:700px; padding:200px 0 0 0;}
.banner{min-height:500px;}
header{padding:25px 0 0 0;}
.category_bg{padding-top:20px; min-height:inherit;}
.categories .side_category .yatch_side span{font-size:28px;}
.touch_form{max-width:100%; padding:20px; position:relative; left:auto; top:auto;}
.touch_form .form-control{height:40px; font-size:18px;}
.touch_form .form-group{margin-bottom:15px;}
.touch_form .btn-primary{min-width:inherit; font-size:22px; padding:8px 30px;}
.touch_form textarea.form-control{height:120px;}
.contact_us{padding:20px; max-width:100%; float:none;}
.contact_us .social_icon{padding:10px 0 0 0px; text-align:center;}
.contact_us .social_icon li{margin:0; padding:0 25px;}
.about_hm figure{position:relative; left:auto; top:auto; margin-bottom:25px;}
.about_hm{max-width:100%; float:none; background-color:#fff; font-size:16px; margin-top:0; padding:15px; text-align:center;}
.about_hm p{margin-bottom:20px; text-align:left;}
.about_hm .title_box{position:relative; left:auto; right:auto; top:auto; margin:0 auto 25px;}
.get_in_touch{padding:0 0 50px;}
}
@media (max-width:767px) {
.nav_menu{width:270px; padding:10px 15px 0;}
.nav_menu ul li{padding:10px 0; font-size:16px;}
.nav_open .toggle_menu span{left:-210px;}
.right_nav{overflow:visible;}
.signup .modal-dialog{width:100%;}
.nav-tabs > li{font-size:16px;}
.modal-body .form-control{height:40px; font-size:16px; padding:8px 12px;}
.modal-body .form-group{margin-bottom:20px;}
.modal-footer .btn.btn-primary{font-size:16px;}
.modal-footer p{font-size:14px;}
.modal-content{margin:0px 10px;}
.about_us{padding:0;}
footer h3{margin:20px 0 20px;}
.footer_link li{padding:0 0 10px; font-size:14px;}
.social_icon li{padding:0 10px;}
.bottom_link{padding-top:10px; text-align:center;}
.newsletter{min-height:380px; padding-top:140px;}
.newsletter h3{font-size:28px; margin:0 0 20px;}
.newsletter p{font-size:16px; margin:0 0 15px;}
.newsletter .form-group{width:100%; padding-right:90px;}
.newsletter .form-group .btn.btn-primary{padding:10px 20px; height:46px; min-width:85px; font-size:18px;}
.newsletter .form-group .form-control{font-size:18px; height:46px;}
.testimonial_content p{font-size:14px;}
.leave_info{float:none; width:100%; padding:0 0 30px;}
.location_info{float:none; width:100%;}
.innerbg{padding:30px 0 40px;}
.contact_page h3{font-size:22px; margin:0 0 30px;}
.leave_info p{margin:0 0 30px; font-size:14px;}
.leave_info .form-control{height:44px; font-size:14px;}
.leave_info textarea.form-control{height:100px;}
.leave_info .btn.btn-primary{margin-top:10px; min-width:120px; padding:8px 20px; font-size:18px;}
.location_info p{font-size:14px;}
.location_info ul{padding:10px 0;}
.contact_text{margin-left:0; left:15px;}
.contact_text h2{font-size:24px;}
.contact_text span{font-size:14px;}
.banner.contact_banner{min-height:300px; background-size:cover;}
.banner.contact_banner:after{left:-400px;}
header{padding:15px 0 0 0;}
.logo img{max-width:150px;}
.right_menu ul li{text-align:right;}
.right_menu ul li{font-size:14px; display:none;}
.right_menu ul li:last-child{display:block;}
.toggle_menu{display:inline-block; margin-top:15px;}
.privacy_link{padding-bottom:15px;}
.services ul li{display:block; width:100%; padding:8px 0px;}
.service_box h3{font-size:18px; margin:15px 0;}
.service_box{padding:15px 10px;}
.summary_left{padding-right:0;}
.coupon_code{max-width:100%;}
.contact_detail{padding:20px 15px 10px;}
.services{padding:30px 0 0px;}
.step_process li{margin:8px 0; padding:0 20px 0 32px;}
.contact_detail .form-control{height:36px;}
.contact_detail .form-group{margin-bottom:15px;}
.coupon_code .btn.btn-primary{height:36px; padding:6px 26px;}
.banner_content{max-width:100%; padding:140px 15px 50px;}
.banner{min-height:inherit;}
header{padding:25px 0 0 0;}
.category_bg{padding-top:20px; min-height:inherit;}
.categories .side_category .yatch_side span{font-size:16px;}
.touch_form{max-width:100%; padding:20px; position:relative; left:auto; top:auto;}
.touch_form .form-control{height:40px; font-size:18px;}
.touch_form .form-group{margin-bottom:15px;}
.touch_form .btn-primary{min-width:inherit; font-size:22px; padding:8px 30px;}
.touch_form textarea.form-control{height:120px;}
.contact_us{padding:20px; max-width:100%; float:none;}
.contact_us .social_icon{padding:10px 0 0 0px; text-align:center;}
.contact_us .social_icon li{margin:0; padding:0 15px;}
.about_hm figure{position:relative; left:auto; top:auto; margin-bottom:25px;}
.about_hm{max-width:100%; float:none; background-color:#fff; font-size:16px; margin-top:0; padding:15px; text-align:center;}
.about_hm p{margin-bottom:20px; text-align:left;}
.about_hm .title_box{position:relative; left:auto; right:auto; top:auto; margin:0 auto 25px;}
.get_in_touch{padding:0 0 50px;}
.welcome_content h1{font-size:26px;}
.welcome_content{max-width:100%; text-align:center; padding-bottom:15px;}
.welcome_content p{font-size:16px;}
.welcome_content p br{display:none;}
.search_filter ul li, .search_filter .filter_box, .search_filter .filter_category{width:50%;}
.search_filter .btn-default{width:100%; display:block; padding:12px 10px;}
.heading h2{font-size:22px;}
.heading h2 span{font-size:40px;}
.heading h2::after{height:3px; top:50%; margin-top:-1px;}
.search_filter ul li select.form-control{font-size:16px; height:46px;}
.search_filter ul li.filter_box::before, .search_filter ul li.filter_category::before{background-size:12px; right:15px;}
.search_filter ul li .country::after{top:15px;}
.trending-carousel{padding:30px 0;}
.trending_slider{padding:20px 0 0 0;}
.about_hm .title_box h3{font-size:14px;}
.about_us_section{overflow:hidden;}
.contact_us ul li{font-size:16px; margin-bottom:10px;}
.contact_us ul li a{font-size:16px;}
.contact_us h3{font-size:24px; padding:0 0 25px 0; text-align:center;}
.contact_us ul.address li img{top:2px;}
.testimonial-carousel{padding:15px 0 0;}
.testimonial_box{display:block;	max-width:300px;}
}
@media (max-width:479px) {
.step_process li{display:block;}
.search_filter ul li, .search_filter .filter_box, .search_filter .filter_category{width:100%;}
}